.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  align-content: center;
}

.main {
  text-align: center;
  /* background: deepskyblue; */
  flex: 1 0 200px;
}

.aside-1 {
  padding-top: 20px;
  padding-bottom: 20px;
  flex: 0.5 200px 200px;
}

body {
  padding: 2em;
}

html,
body {
  margin: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 1em;
}
